$primary-color: #0B3C5D;
$secondary-color: #328cc1;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}
html, body {
  max-width: 100%;
  overflow-x: hidden; 
}

hr {
  background-color: $primary-color;
}

#app-social {
  ul {
    margin: 0;
    a {
      color: $primary-color;
      font-size: 30px;
      padding: 5px; 
    }
    a:hover {
      color: $secondary-color;
      transition: .2s ease .25s;
    }
  }
}

#app-header {
  .logo {
    height: 100px;
  }
  .header-right {
    margin-top: 10px;
    .marca {
      font-size: 30px;
    }
    .razon {
      font-size: 28px;
    }
  }
  .navbar {
    background-color: $primary-color;
    width: 100%;
    li {
      padding: 0 30px;
      a {
        color: #fff;
      }
      .dropdown-item {
        color: $primary-color;
      }
    }
  }
}

#app-carousel {
  .carousel-inner {
    img {
      height: 600px;
    }
  }
}

#app-proyectos {
  .title {
    font-size: 37px;
    color: $primary-color;
  }
  .carousel-inner {
    margin-top: 30px;
    margin-bottom: 30px;
    .carousel-item {
      img {
        height: 300px;
      }
      span {
        position: absolute;
        top: 0;
        color: white;
        font-size: 30px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        left: 20px;
      }
    }
    
  }
}

#app-footer {
  background-color: $primary-color;
  .footer-left {
    margin-top: 50px;
    ul.list-unstyled {
      li {
        a {
          color: #fff;
        }
      }
    }
    ul.social {
      a {
        color: #fff;
        font-size: 30px;
        padding: 5px; 
      }
      a:hover {
        color: $secondary-color;
        transition: .2s ease .25s;
      }
    }
  }
  .footer-right {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  #app-carousel {
    .carousel-inner{
      img {
        height: 400px;
      }
    } 
  }
  #app-proyectos {
    .conoce {
      text-align: center;
    }
  }
  #app-footer {
    .btn {
      width: 100%;
    }
  }
}

@media screen and (max-width: 414px) {
  #app-header {
    .header-left {
      .logo {
        margin-bottom: 10px;
      }
    }
    .header-right {
      ul {
        .marca {
          font-size: 20px;
        }
        .razon {
          font-size: 18px;
        }
      }
    }
  }
}