$main-color: rgb(16, 73, 106);
$secondary-color: rgb(0, 114, 185);

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

#app-social {
  ul {
    margin: 0;
    a {
      color: $main-color;
      font-size: 30px;
      padding: 5px; 
    }
    a:hover {
      color: $secondary-color;
      transition: .2s ease .25s;
    }
  }
}

#app-header {
  .header-left {
    padding: 0;
    img {
      position: absolute;
      right: 0;
    }
  }
  .header-right {
    padding: 0;
  }
}

#app-banner {
  background-color: $main-color;
  li {
    padding: 0 30px;
    a {
      color: white;
    }
  }
  li:hover {
    background-color: #fff;
    a {
      color: $main-color;
    }
  }
}

@media screen and (max-width: 576px) {
  #app-header {
    
  }
}